body{
    background-image: url("/static/img/back.jpg");
}
.ha{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    color: white;
    text-align: center;
    margin-left: 500px;
}
img{
    margin-left: 250px;
}
img:hover{
    transform: scaleX(-1);
}
.pes{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;   
}

.des{
    text-align: center;
    font-size: 25px;
}


