<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mario formas</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style3.css'%}">
</head>
<body>
    <a href="treinar/"><p class="pe">tipos de treinos</p></a>
    <a href="assinar/"><p class="pe"> cadastrar</p></a>
    <h1 class="ha"> MARIO FORMAS</h1>
    <table>
        <tr>
            <td>
                <p class="pes">A academia deselvolvida para voces que quem ficar fortes nada
                <br>de uma treinamento fraco ou de ficar se olhando num espelho aqui e treinamaneto para matar</p>
            </td>
            <td><img src="{%static 'img/log.jpeg' %}"></td>
        </tr>
    </table>
    <br>
    <h2 class="has">O que tem?</h2>
    <p class="pes"> O que a nossa academia oferece e o mais completo setor de exercios para tranformar <br>
    seu corpo e um das 7 maravilhas do mundo para isso varios exercios e equipamentos que vao auxiliar</p>
    <br>
    <h2 class="has">facio ou insano</h2>
    <p class="pes"> Os treinameto sao de certo modo ate bem simples claro se voce so que trasforma <br>
    seu corpo par ficar forte ou definido masi se voce quiser trasfomalo numa arma a exercios mais indicados para voce</p>
    
    <div>
        <p class="pes"> Deselvolvido por: Francisco carlos</p>
    </div>
</body>
</html>